<nav class="navbar navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#/">G-Plus Clone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="signedIn()"><a href="#/login" >Log in</a></li>

        <li ng-show="signedIn()"><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
