<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="profile">
    <form role="form" class="settings" ng-submit="update()">
      <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="profile.email" placeholder="ex. john@example.com" />
      </div>

      <div class="form-group">
        <label for="settings__password">New Password</label>
        <input type="password" class="form-control" id="settings__password" ng-model="profile.password" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__confirm-password">Confirm new Password</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="profile.password_confirmation" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__current_password">Current Password</label>
        <input type="password" class="form-control" id="settings__current-password" ng-model="profile.current_password" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__username">Username</label>
        <input type="text" class="form-control" id="settings__username" ng-model="profile.username" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__tagline">Tagline</label>
        <textarea class="form-control" id="settings__tagline" ng-model="profile.tagline" placeholder="ex. This is Not Google Plus." />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="destroy()">Delete Account</button>
      </div>
    </form>
  </div>
</div>
