<!DOCTYPE html>
<html ng-app="gplus">
<head>
  <title>Gplusclone</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="badge">
  {{ 1 + 1 }}
  <span class="glyphicon glyphicon-heart"></span>
</div>
</body>
</html>
