<!DOCTYPE html>
<html ng-app="GPlusClone">
<head>
  <title>G-Plus Clone</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="badge">
  <span class="glyphicon glyphicon-heart">{{ 1 + 1 }}</span>
</div>
</body>
</html>
