<!DOCTYPE html>
<html ng-app="GPlusClone">
<head>
  <title>G-Plus Clone</title>
  <base href="/">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-view class="container"></div>
</body>
</html>
